@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  --ff-bri--: "Bricolage Grotesque", sans-serif;
  --ff-inter--: "Inter", sans-serif;
  --ff-Dmsan--: "DM Sans", sans-serif;

}

a{
  text-decoration: none;
  color: #343536;

}
body{
  max-width: 100% !important;
  margin: 0 auto !important;
  overflow-x: hidden;
}
