.admin-summary-task {
  border: 1px solid #f1f2f3;
  padding: 20px 17px;
  border-radius: 10px;
}
.h1 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
}

.admin-summary-task-1 h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #706d6d;
}

.admin-summary-task-1 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 28px;
  color: #1e1e1e;
  margin-top: 20px;
}
.admin-summary-2 {
  border: 1px solid #f1f2f3;
  margin-top: 54px;
  border-radius: 14px;
}
.admin-summary-taskboard {
  font-family: var(--ff-inter--);
  font-weight: 500;
  font-size: 25.57px;
  line-height: 30.95px;
  margin-top: 18px;
}
.task-head {
  background-color:#b7eede;
  border: 1px solid #b7eede;
  color: #b7eede;
  
}
.table-input {
  height: 57px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--ff-inter--);
  color: #292929;
  line-height: 19.36px;
}
#start {
  margin-bottom: 1px;
  height: 19px;
}

#end {
  margin-bottom: 1px;
  height: 19px;
  color: #8C8C8C;
}
.hash {
  width: 50px;
  height: 40px;
  
}

#check-box {
  width: 25px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid #e2e6f0;
  background-color: #f7f9fb;
  margin-left: 4px;
  margin-top: 6px;
}
.Planned{
    border-radius: 50px;
    color:  #F29B07;
    background-color: #FFF5E3;
}
.Completed{
    border-radius: 50px;
    color: #0D805D;
    background-color:#E5FFF7;
}
.In-progress{
    border-radius: 50px;
    color: #137FF2;
    background-color: #9DD2EF42;
}

@media (max-width: 765px) {
  .admin-summary {
    width: 340px;
  }
  .admin-summary-1 {
    width: 100%;
  }
  .admin-summary-2 {
    width: 100%;
  }
  .admin-summary-employee {
    flex-direction: column;
    gap: 10px;
  }
  #start {
    margin-bottom: 1px;
    height: 20px;
    padding-bottom: 2px;
    width: 130px;
  }
  #end {
    margin-bottom: 1px;
    
    
  }
}
@media (min-width: 765px) and (max-width: 1024px) {
    .admin-summary {
        width: 475px;
    }
  
    .admin-summary-employee {
    flex-direction: column;
  }
  #start {
    margin-bottom: 1px;
    height: 20px;
    padding-bottom: 2px;
    width: 130px;
  }
}
